:root {
    --primary-color: #e6e6e6;
    --secondary-color: #fbdd44; 
    --tertiary-color: #272626;
    --element: #5faeee;
    --comment: #57be57;
    --white: #ffffff;
    --black: #000000;
    --bpadding: 5px;
}

* {
    font-family: 'Belgrano', serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
}

/* Home / Occupation sec. - START */
.home {
    margin: 0;
    padding-top: 15px;
    background-color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
}

.name {
    font-size: 48px;
    color: var(--secondary-color);
    text-decoration: none;
}

/* good */
.home-brackets {
    font-size: 48px;
    font-weight: normal;
    color: var(--white);
}
/* good */
.occupation {
    padding-left: 75px; /* might have to set up auto for when the screen gets smaller */
    font-size: 32px;
    color: var(--white)
}
/* good */
.element-color {
    color: var(--element);
}
/* good */
.comment-color {
    color: var(--comment);
}

/* Navigation Menu */
header nav { /* fix sticky */
    font-size: 24px;
    padding-top: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-attachment: fixed;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.nav-links {
    text-decoration: none;
    color: var(--element);
}

/* Nav cont... - Before and After Hover effects */
.about-link:after {
    content: "about";
}

.about-link:hover {
    color: var(--secondary-color);
}
.about-link:hover::after {
    content: "/* about */";
    color: var(--comment);
}

.projects-link:after {
    content: "projects";
}

.projects-link:hover::after {
    content: "/* projects */";
    color: var(--comment);
}

.contact-link:after {
    content: "contact";
}

.contact-link:hover::after {
    content: "/* contact */";
    color: var(--comment);
}

/* .nav1, .nav2, .nav3 {
    border: 1px solid var(--black);
    background: none;
    border-radius: 45px 45px;
} */

/* .nav1:hover, .nav2:hover, .nav3:hover {
    background: var(--secondary-color);
    color: var(--black);
}

.nav-links {
    color: var(--secondary-color);
}

/* transition: all 0.25s ease-in */

/* Figure sec. - START */
/* figure {
    height: 610px;
    width: 100%;
    background-image: url("../images/avatar.svg");
    background-size: cover;
    background-position: center;
} */

/* Projects sec. - START */
.projects {
    padding: var(--bpadding);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid red; /* temp */
}

.projects-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid green; /* temp */
}

.fig1 {
    padding: var(--bpadding);
}

.fig2, .fig3 {
    flex: 50%;
    padding: var(--bpadding);
}

.fig1 img, .fig2 img, .fig3 img {
    max-width: 100%;
    height: auto;
    border: 2px solid var(--secondary-color);
}

.fig1 img {
    border-radius: 0 150px 50px 150px;
}

.fig2 img {
    border-radius: 0 0 50px 50px;
}

.fig3 img {
    border-radius: 0 0 50px 50px;
}

/* Contact sec. - START */
.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.contact h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: var(--bpadding);
}
 
.contact address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    padding: var(--bpadding)
}

/* Copyright sec. - START */
footer {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.copyright {
    padding: var(--bpadding);
}